<h1>Sign In</h1>
<%= form_for @user, path: '/sign_in' do |f| %>
  Email: <br>
  <%= f.text_field :email %><br>
  Password: <br>
  <%= f.password_field :password %><br>
  <%= f.submit "Submit" %>
<% end %>
