<h1> <%=@category.name%></h1>

<h3><%= link_to 'Create New Activity', new_category_activity_path(@category) %></h3>

<%@category.activities.each do |act| %>
  <%= link_to act.title, category_activity_path(act)%><br>
<%end%>
