<h1>Edit Activity</h1>

<% if current_user == @activity.user %>
  <%= render partial: 'form', locals: {activity: @activity} %>
<% else %>
  <h3>Sorry, you can only edit your own activities.</h3>
  <%= link_to "Back to activities", activities_path %>
<% end %>
