
<h1>Activities</h1>
<p>(shortest to longest activity)</p>
<h3><%= link_to 'Create New Activity', new_activity_path %></h3>

<% @activities.each do |act| %>
  <%= link_to act.title, activity_path(act) %><br>
<% end %>
